.warning_yellow{
  background-color: #fff3cd;
}
.warning_red{
  background-color: #fddce2;
  opacity:
}
.warning_orange{
  background-color: #ffe2cdfa;
}
.m-portlet__head-title {
    margin-right: 20px;
}
.hidden_menu{
	display: none !important;
}
.hidden{
	display: none;
}
@media print{
	@page {
		size: landscape
	}
	html, body {
        height: auto;
        font-size: 6pt; /* changing to 10pt has no impact */
    }
    .noPrint{
	   display:none;
	 }
}
.btn-primary {
  color: #ffffff !important;
}
.img-thumbnail {
vertical-align: middle !important;
max-width: 200px !important;
max-height: 200px !important;
display: -moz-inline-box !important; /* Firefox 2 */
display: inline-block !important;
margin: 10px;
}
#timeline .badge{
  white-space: normal !important;
}
#timeline .panel-body{
  word-break: break-word;
}